
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2014, 9:44:33 AM
    Author     : A00569217
*/
.body {
    
}

#recent-div {
    padding-right: 0;
    padding-left: 0;
    background-color: lightcyan;
}

.inner-recent-div {
    height: 400px;
}
.cat-divs {
    /*height: 400px;*/

}
.cat-divs:hover .inner-cat-divs{
    opacity : 0.6;
    filter: alpha(opacity=40);

}
.cat-divs h1{
    display:none;
    color:white;
    pointer-events: none;
}
.cat-divs:hover h1{
    display: block;
    position:absolute;
    left:10%;

}
.inner-cat-divs{
    background-color: white;
    /*min-height:380px;*/
    /*min-width: 300px;*/

}
.eat-play-sleep{
    
}
.top-buffer {
	margin-top: 20px;
}
.inner-div{
	position:relative;
	width:90%
}

.fitImgToContainer {
    position: relative;
    width:400%;

}