
#recent-div {
    padding-right: 0;
    padding-left: 0;
}

.cat-divs {
    padding-bottom: 30px;
    opacity : 1;
}

.cat-divs:hover {
    opacity : 1;
    filter: alpha(opacity=40);
}

.inner-cat-divs{
    text-align: center;
    padding: 25px;
}

.inner-button {
    text-align: center;
}

.inner-button img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-buffer {
    margin-top: 20px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 25px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 25px;
    background-color: rgba(0,0,0,.1);
    text-align: center;
    color:lightcyan;
}

.top-bar {
    width: 100%;
    background-color: #000000;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.showme{ 
    display: none;
    color:white;
    z-index: 9999;
    font-size: 35px;
    width:100%;
    position:absolute;
    top:15px;   

}

.whiteWords{

    color:lightgray;
    font-size: 20px;

}
.white{
    color:lightgray;
}
.whiteBox{
    background-color: rgba(0,0,0,.6);
}
.inner-button:hover .showme {
    display : block;
    
}
#imagelightbox
{
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}
.thumbnail-size{
    max-width:200px;
    max-height:200px;
}
.greyLayer :hover:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    
}